body {
  clear: both;
  background: #fff;
  width: 960px;
}

body p img {
  clear: both;
  float: left;
}

body h1 {
  float: right;
  margin-left: 10px;
  font-family: cursive;
}

body h2 {
  float: top;
}

body section img {
  float: right;
}

body header section header {
  clear: both;
  float: left;
}

head, main, footer {
  padding: 100px;
  margin: 0 auto;
}

body header section img {
  float: right;

}

body div h1, body div p {
  float: left;
}

footer section {
  clear: left;
  float: right;
  margin-right: 220px;
}

footer button {
  float: right;
}

main div p {
  margin: 30px 0px 30px 0px;
  font-family: serif;
}

main header {
  font-size: 40px;
}

footer div img {
  margin-left: 550px;
}
